* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}
a[href] {
    cursor: pointer;
}

:root {
    color-scheme: light dark;
    
    --spacing: 10px;
    
    --captionColorLight: #494949;
    --captionColorDark: #B8B8B8;
    
    --orionAccent: #8E70FF;
}

html {
    height: 100%;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    gap: var(--spacing);
    margin: 0 calc(var(--spacing) * 2);
    height: 100%;
    
    font: -apple-system-short-body;
    text-align: left;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

button, input, select, option {
    font-size: 1em;
}

input, select, p, label, button {
    width: 95%;
}