html,
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
}

* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

#token {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 10px;
}

input {
  width: 100%;
  border: 1px solid #e1e0db;
}

input[type="password"], input[type="text"] {
  background-color: #f7f6f2;
  border: 1px solid #e1e0db;
  height: 48px;
  border-radius: 5px;
  padding: 0 10px;
}

input[type="password"]:focus, input[type="text"]:focus {
  outline: 1px solid #ffb319;
}

#header {
  margin: 10px 25px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 58px;
  height: 29px;
  flex: 0;
  justify-content: flex-start;
  display: flex;
  margin: 0 15px;
}

.logo svg {
  height: 100%;
}

#status {
  font-size: 0.875rem;
  flex: 0;
}

#status svg {
  width: 24px;
  height: 24px;
}

#status svg:first-child {
  color: #fd6820;
  fill: #fd6820;
  font-weight: 700;
}

#status svg#loading {
  font-size: 0.875rem;
  flex: 0;
}

#status svg:last-child {
  color: #00a854;
  fill: #00a854;
  font-weight: 700;
}

#header #advanced {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  margin-left: 5px;
  flex: 0;
}

#header #advanced svg:first-child {
  width: 30px;
  height: 30px;
  margin: 3px;
}

#header #advanced svg:last-child {
  width: 36px;
  height: 36px;
}

#status_permission_message,
#status_error_message,
#save_error {
  color: #fd6820;
}

#status_error_message, #status_loading_message {
  margin: 10px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 1.2rem;
}

#status_error_message a {
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem auto;
}

h3 {
  font-weight: 400;
}

#sync_checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#incognito {
  max-width: 100%;
  padding: 0 15px;
  font-size: 0.9rem;
}

.setting_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.desc {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75rem;
  margin-top: 5px;
}

.title {
  font-size: 0.875rem;
  font-weight: 700;
  padding-right: 0.75rem;
}

p {
  width: 70%;
  text-align: center;
  margin-top: 5px;
}

#token_save {
  background-color: #ffb319;
  border: 1px solid #ffb319;
  color: #191919;
  border-radius: 5px;
  height: 46px;
  max-width: 150px;
  font-size: 0.9375rem;
  cursor: pointer;
}

#token_save:hover {
  background-color: #f7a808;
  border: 1px solid #d9950d;
}

.checkbox_box h3 {
  margin-bottom: 10px;
}

.k_ui_toggle_switch {
  --bg-color: transparent;
  --active-bg-color: transparent;
  --border-color: #15273f;
  --active-border-color: #15273f;
  --knob-bg-color: #15273f;
  --active-knob-bg-color: #15273f;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.k_ui_toggle_switch.with_label {
  margin-left: auto;
  position: relative;
  padding-right: 35px;
  display: inline-block;
  color: var(--border-color);
}

.k_ui_toggle_switch_status {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(55px, 5px);
  font-size: 0.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  pointer-events: none;
  line-height: normal;
  opacity: 0.3;
}

.k_ui_toggle_switch_status .__on {
  display: none;
}

.k_ui_toggle_switch_bar {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  position: relative;
  padding: 3px;
  width: 48px;
  height: 24px;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0.3;
}

.k_ui_toggle_switch_bar:after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--knob-bg-color);
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 100px;
  transition: left 0.15s ease-in-out;
}

.k_ui_toggle_switch input {
  display: none;
}

.k_ui_toggle_switch input:checked ~ .k_ui_toggle_switch_bar {
  border: 1px solid var(--active-border-color);
  background-color: var(--active-bg-color);
  opacity: unset;
}

.k_ui_toggle_switch input:checked ~ .k_ui_toggle_switch_status {
  opacity: unset;
}

.k_ui_toggle_switch input:checked ~ .k_ui_toggle_switch_status .__on {
  display: block;
}

.k_ui_toggle_switch input:checked ~ .k_ui_toggle_switch_status .__off {
  display: none;
}

.k_ui_toggle_switch input:checked ~ .k_ui_toggle_switch_bar:after {
  background-color: var(--active-knob-bg-color);
  left: unset;
  right: 2px;
}

#fastgpt, #summarize, #request_permissions {
  margin-top: 10px;
  width: 100%;
  padding: 0 15px;
}

#summarize .setting_row, #request_permissions .setting_row, #fastgpt .setting_row {
  margin-top: 10px;
  padding: 0;
  justify-content: space-between;
}

#summarize .setting_row > div, #request_permissions .setting_row > div, #fastgpt .setting_row > form {
  margin-right: 10px;
}

#fastgpt_form {
  width: 100%;
  display: flex;
}

#fastgpt_form input {
  margin-right: 10px
}

#summarize .setting_row label {
  display: block;
  margin-bottom: 5px;
}

#summarize_page, #request_permissions_button, #fastgpt_submit, #privacy_consent_button {
  background-color: #ffb319;
  border: 1px solid #ffb319;
  color: #191919;
  border-radius: 5px;
  height: 46px;
  max-width: 150px;
  font-size: 0.9375rem;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

#fastgpt_submit {
  width: 120px;
  margin-right: 0;
}

#request_permissions_button {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#summarize_page:hover, #request_permissions_button:hover, #fastgpt_submit:hover, #privacy_consent_button:hover {
  background-color: #f7a808;
  border: 1px solid #d9950d;
}
