html,
body {
  width: 500px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
  margin: 0 auto;
  text-align: justify;
}

* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 58px;
  height: 29px;
  flex: 1;
  justify-content: flex-start;
  display: flex;
  margin: 10px auto;
}

.logo svg {
  height: 100%;
}

#loading {
  width: 50px;
}

button {
  width: 100%;
  margin-top: 10px;
}

h3 {
  font-weight: 400;
}

p {
  margin-top: 10px;
}

#summary_result {
  padding: 10px;
  font-size: 1rem;
  line-height: 1.25rem;
}

/* This "hack" makes the "key moments" summary type look more readable */
#summary_result br {
  margin-top: 10px;
  display: block;
  content: "";
}

#summary_result.error {
  color: #ac2915;
}

#copy_summary {
  background-color: #ffb319;
  border: 1px solid #ffb319;
  color: #191919;
  border-radius: 5px;
  height: 46px;
  max-width: 150px;
  font-size: 0.9375rem;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}

#copy_summary:hover {
  background-color: #f7a808;
  border: 1px solid #d9950d;
}

#summary_stats {
  padding: 10px;
  font-size: 1rem;
  line-height: 1.25rem;
}

#close_summary {
  cursor: pointer;
  height: 32px;
}