* {
/*    -webkit-user-select: none;*/
    -webkit-user-drag: none;
    cursor: default;
}
a[href] {
    cursor: pointer;
}

:root {
    color-scheme: light dark;
    
    --spacing: 10px;
    
    --captionColorLight: #494949;
    --captionColorDark: #B8B8B8;
    --borderColorLight: #494949;
    --borderColorDark: #D8D8D8;
    
    --backgroundDark: #262837;
    --backgroundDarkTransparent: rgba(38,40,55, 0.5);
	--foregroundLight: #E5E5E5;
    
    --orionAccent: #8E70FF;
}

html,
body {
   margin:0;
   padding:0;
/*    height: clamp(300px, 160vw, 600px); */
   width: clamp(350px, 100vw, 600px);
}

.hidden { display: none; }

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    gap: var(--spacing);
    margin: var(--spacing) calc(var(--spacing) * 2);
    
    font: -apple-system-short-body;
    text-align: left;
}


fieldset, ul, ol, h1, h2, h3, h4, h5, h6, #wrapper > p {
	width: 92%;
}

h4 {
	margin-bottom: 0.8em;
}

p, label {
	display: block;
	margin: .7em 0;
}

ul {
	list-style: none;
}

li p strong {
	font-weight: 500;
}

fieldset {
    border: 0;
    padding: 0;
    margin-left: 0;
}
input, select, p, label, button {
    width: 100%;
}
input[type="checkbox"], label[checkbox] {
    width: auto;
}
label[checkbox] {
    display: contents;
}
fieldset input, fieldset select {
	font-size: 0.9em;
	font-weight: 300;
}
fieldset select {
	margin-bottom: 8px;
}
fieldset input {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #eee;
	padding: 3px;
}

a {
    color: var(--orionAccent);
}

hr {
    border: solid 0.5px var(--borderColorDark);
    width: 70%;
    margin-top: 13px;
}

.caption {
	font-size: 0.9em;
    color: var(--captionColorLight);
    margin-top: 0;
}
h2 {
    margin-bottom: 0;
}
#instructions {
    padding-inline-start: 0;
    margin-top: 0;
}
#instructions>li {

}
#instructions>li:not(:first-child) {
    margin-top: 1em;
}

summary {
	outline: none;
}

.noListStyle {
	list-style: none;
}

#current-overrides ul {
	padding-left: 1em;
	list-style: circle inside;
	margin-bottom: 0.7em;
}
#current-overrides .noListStyle {
	list-style: inherit;
}
#overrides h3>.enabledForThisDomain {
	color: #60AA55;
}
.allUrls details .revokePermissions {
	display: none;
}
.revokePermissions {
	text-decoration: none;
}
.revokePermissions img {
	height: 1em;
	position: relative;
	top: 2px;
}
.revokePermissions .confirmationText {
	display: none;
	font-size: smaller;
}
.revokePermissions.readyToConfirm .confirmationText { display: inline; }

li:has(.showMore) > *:not(h4) { display: none; }
li.displayChildren:has(.showMore) > *:not(h4) { display: inherit; }

@media (prefers-color-scheme: dark) {
	body {
		background: var(--backgroundDarkTransparent);
	}
    #wrapper {
        font-weight: 300;
    }
    .caption, #instructions li::marker {
        color: var(--captionColorDark);
    }
    hr {
        border-color: var(--borderColorLight);
    }
    
	#instructions>li:not(:first-child) {
		border-color: var(--borderColorLight);
	}
}

body:not(.setupPermissionsGranted) .setupPermissionsGranted,
body.setupPermissionsGranted .noSetupPermissions {
    display: none !important;
}
